.main-banner {
  padding: 0px;
  margin-top: 60px;
}
.hljs {
  padding: 0px;
}
.bs-example {
  position: relative;
  padding: 40px 20px 15px;
  background-color: white;
  border: 1px solid #DDD;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.bs-example::after {
  content: "Example";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: whiteSmoke;
  border: 1px solid #DDD;
  color: #9DA0A4;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
}
.bs-source {
  font-size: .85rem;
  position: relative;
  padding: 20px 20px 0 0px;
  background-color: white;
  border: 1px solid #eee;
  border-top: 0px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  margin-bottom: 40px;
}
.bs-source::after {
  content: "HTML";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: whiteSmoke;
  border: 1px solid #DDD;
  color: #9DA0A4;
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}
  .bs-source pre {
    margin-bottom: 0px;
  }
  .bs-source .hljs {
    background: none;
    opacity: 0.7;
  }
